<nav class="sidebar">
  <div class="d-flex ps-4">
    <figure>
      <img src="assets/images/db-icon.png" alt="db-icon" />
    </figure>
    <h6
      class="deskbook-heading d-flex justify-content-center align-items-center ms-3"
    >
      DeskBook
    </h6>
  </div>
  <div class="mt-5">
    <ul class="ps-0">
      <li class="nav-item">
        <a href="" class="text-decoration-none sidemenu nav-link ms-3">
          <img src="assets/images/dashboard-icon.png" alt="dashboard-icon" />
          <span class="nav-text ms-3 sidemenu">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <img src="assets/images/dashboard-icon.png" alt="dashboard-icon" />
          <span class="nav-text ms-3 sidemenu">Dashboard</span>
        </a>
      </li>

      <li>
        <div class="list">
          <img
            src="assets/images/seat-config-icon.png"
            alt="seat Configuration icon"
          /><a href="" class="text-decoration-none sidemenu ms-3 my-4"
            >Seat Configuration</a
          >
        </div>
      </li>

      <li>
        <div class="list">
          <img
            src="assets/images/booking-history-icon.png"
            alt="booking History icon"
            class="sidebar-icon"
          /><a href="" class="text-decoration-none sidemenu ms-3"
            >Booking History</a
          >
        </div>
      </li>

      <li>
        <div class="list">
          <img
            src="assets/images/request-history-icon.png"
            alt="request History icon"
            class="sidebar-icon"
          /><a href="" class="text-decoration-none sidemenu ms-3"
            >Request History</a
          >
        </div>
      </li>

      <li>
        <div class="list">
          <img
            src="assets/images/register-user-icon.png"
            alt="Registered Users icon"
          /><a href="" class="text-decoration-none sidemenu ms-3"
            >Registered Users</a
          >
        </div>
      </li>
    </ul>
    <ul class="ps-0">
      <li>
        <div class="list">
          <img src="assets/images/logout-icon.png" alt="Logout icon" /><a
            href=""
            class="text-decoration-none sidemenu ms-3"
            >Logout</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
